#titulo{
    font-size: 50px;
    color:rgb(255, 0, 119);
    text-align: center;
}

.texto{
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    text-align: justify;
    margin-right: 10px;
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 50px;
}

body {
    margin: 0px;
    padding: 0px;
    line-height: 2em;
    text-align: center;
    font-family: sans-serif;    
    background-color: #000000;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;    
    background-position: center center
}

#capa {
    width: 100%;
    float: center;
    margin: 20px 0px 0px 0px;
}

header { 
    position:static;
}

.lista{
    color: rgb(255, 255, 255);
    text-align: justify;
    background-image: linear-gradient(rgb(239, 8, 193), pink);
}